{% extends "layout.html" %} 

{% block main %}
{% include "navbar.html" %}

    <div class="jumbotron">
      <div class="container">
        <h1 class="main-title">BIBFRAME &amp; the ADR</h1>
        <p class="lead">The <a href="">Redis Library Services Platform</a> already has a number of
         HTML5 apps for both public and staff work-flows to the ADR. Adding Fedora Objects into the 
        <a href="">BIBFRAME Redis Datastore</a> is being tested with public access through the
        <a href="">Aristotle Library Apps's</a> Discovery App.
        </p>
      </div>
    </div>

    <div class="container">
      <div class="row">
      </div>
     <hr>

  {% include "footer.html" %}
 </div>
{% endblock %}
