{% extends 'slide.html' %}

{% block slide_content %}
{# START Title Row DIV#}
<div class="row">
  {# START Jumbotron Column Row DIV#}
  <div class="col-sm-8 col-md-8 col-lg-8 jumbotron"> 
   <h1 class="main-title">Introducing BIBFRAME</h1>
   <p class="lead">BIBFRAME -- for Bibliographic Framework -- is an effort by
   the Library of Congress to replace MARC21 and MARCXML with a new Linked Data-based
   vocabulary for bibliographic description.</p>
   <a data-toggle="modal"
      href="#bf-visualization-dlg" 
      class="btn btn-success btn-lg pull-right">Visualization</a>
  {# END Jumbotron Column Row DIV#}
  </div>
  {# START BIBFRAME Definition Column #}
  <div class="col-sm-4 col-md-4 col-lg-4">
   <div class="panel panel-primary">
    <div class="panel-heading">
     <h2 class="panel-title">Background</h2>
    </div>
    <div class="panel-body">
     <p>
      BIBFRAME, short for Bibliographic Framework, is the work of the Library of Congress's
      <a href="http://www.loc.gov/bibframe/">Bibliographic Framework Initiative</a>. This
      initiative started with a <a href="">press release</a> by the Library of Congress in
      November 2011. Since that time, a formal vocabulary was released in January 2013, followed
      most recently with a release of an important document, 
      <a href="http://bibframe.org/documentation/bibframe-usecases/">BIBFRAME Use Cases and
      Requirements</a>.
     </p>
        </div>
   </div>
  {# END BIBFRAME Definition Column #}
  </div>
{# END Title Content Row DIV#}
</div>

{# START BIBFRAME Work Instance Row #}
<div class="row">
 {# START Creative Work #}
 <div class="col-sm-5 col-md-5">
  <div class="well well-sm">
   <h3>Creative Work</h3>
   <p>A resource reflecting a conceptual essence of the cataloging resource. 
    (source: <a href="/metadata-day-2013/resources.html#bibframe-vocab">bibframe.org</a>)
   </p>
   <p>
    BIBFRAME provides specific types of Creative Works, such as Book, Serial, Article, 
    Manuscript, MovingImage, NonmusicalAudio, Musical Audios.
 
   </p>
   <h4>Examples from CC's RLSP:</h4>

   <div class="btn-group">
     <a href="#" class="btn btn-default">
       <img src="http://placehold.it/36x36&text=[BOOK]">
     </a>
     <a href="#" class="btn btn-default">
      Serial
     </a>
     <a href="#" class="btn btn-default">
      MusicalAudio
     </a>
     <a href="#" class="btn btn-default">
      SoftwareOrMultimedia
     </a>
   </div>
  </div>
 {# END Creative Work #}
 </div>
 {# START Instance Work #}
 <div class="col-sm-5 col-md-5">
  <div class="well well-sm">
   <h3>Instance</h3>
   <p>A resource reflecting an individual, material embodiment of the Work. 
    (source: <a href="/metadata-day-2013/resources.html#bibframe-vocab">bibframe.org</a>)
   </p>
   <h4>Examples from CC's RLSP:</h4>

  </div>
 {# END Instance Work #}
 </div>
{# END BIBFRAME Work Instance Row #}
</div> 

{# START BIBFRAME Authority Annotation Row #}
<div class="row">
 {# START Authority Work #}
 <div class="col-sm-5 col-md-5">
  <div class="well well-sm">
   <h3>Authority</h3>
   <p>A resource reflecting key authority concepts that have defined 
      relationships reflected in the Work and Instance. 
    (source: <a href="/metadata-day-2013/resources.html#bibframe-vocab">bibframe.org</a>)
   </p>
   <h4>Examples from CC's RLSP:</h4>

  </div>
 {# END Authority Work #}
 </div>
 {# START Annotation Work #}
 <div class="col-sm-5 col-md-5">
  <div class="well well-sm">
   <h3>Annotation</h3>
   <p>A resource that adds additional information to or about other BIBFRAME resources 
      when knowing 'who' annotated it is important.
     (source: <a href="/metadata-day-2013/resources.html#bibframe-vocab">bibframe.org</a>)
   </p>
   <h4>Examples from CC's RLSP:</h4>

  </div>
 {# END  Annotation Work #}
 </div>
{# END BIBFRAME Authority Annotation Row #}
</div>

{# START BIBFRAME Visualization Modal #}
<div class="modal fade" id="bf-visualization-dlg">
 {# START BIBFRAME Visualization Dialog #}
 <div class="modal-dialog">
  {# START BIBFRAME Visualization Content #}
  <div class="modal-content">
   {# START BIBFRAME Visualization Header #}
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">BIBFRAME Visualization</h4>
   {# END BIBFRAME Visualization Header #}
   </div>
   {# START BIBFRAME Visualization Header #}
   <div class="modal-body">
    <img src="http://bibframe.org/static/images/bibframe.png"> 
    <p>
    <small>Source: 
      <a href="http://bibframe.org/vocab/">http://bibframe.org/vocab/</a>
    </small>
    </p>
   {# END BIBFRAME Visualization Header #}
   </div>
   {# START BIBFRAME Visualization Header #}
   <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
   {# END BIBFRAME Visualization Header #}
   </div>
  {# END BIBFRAME Visualization Content #}
  </div>
 {# END BIBFRAME Visualization Dialog #}
 </div>
{# END BIBFRAME Visualization Modal #}
</div>
{% endblock %}
