{% extends 'slide.html' %}

{% block slide_content %}
{# START Title Row DIV#}
<div class="row">
  {# START Jumbotron Column Row DIV#}
  <div class="col-sm-8 col-md-8 col-lg-8 jumbotron"> 
   <h1 class="main-title">Introducing BIBFRAME</h1>
   <p class="lead">BIBFRAME -- for Bibliographic Framework -- is an effort by
   the Library of Congress to replace MARC21 and MARCXML with a new Linked Data-based,
   vocabulary for bibliographic description.</p>
  {# END Jumbotron Column Row DIV#}
  </div>
  {# START BIBFRAME Definition Column #}
  <div class="col-sm-4 col-md-4 col-lg-4">
   <div class="panel panel-primary">
    <div class="panel-heading">
     <h2 class="panel-title">Background</h2>
    </div>
   <div class="panel-body">

   </div>
  {# END BIBFRAME Definition Column #}
  </div>
{# END Title Content Row DIV#}
</div>
{% endblock %}
