{% extends "layout.html" %} 

{% block main %}
{% include "navbar.html" %}


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2>September 10th, 2013 -- ADR Metadata Day</h2>
        <h1 class="main-title">MARC &amp; MODS to BIBFRAME LinkedData</h1>
        <p class="lead">
          Jeremy Nelson<br>
          Metadata &amp; Systems Librarian<br>
          Colorado College<br>
        </p>
        <p><a class="btn btn-primary btn-lg" 
              href="/metadata-day-2013/linked-data.html">Start Presentation &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
       {% for slide in slides[0:3] %}
        <div class="col-lg-4">
          <div class="well">
          <h2>{{ slide.headline }}</h2>
          <p> 
           {{ slide.description }}
          </p>
          <p><a class="btn btn-default" href="/metadata-day-2013/{{ slide.name }}.html">View details &raquo;</a></p>
          </div>
        </div>
       {% endfor %}
      </div>
      {# START Second Row #}
      <div class="row">
       {% for slide in slides[3:] %}
        <div class="col-lg-4">
          <div class="well">
          <h2>{{ slide.headline }}</h2>
          <p> 
           {{ slide.description }}
          </p>
          <p><a class="btn btn-default" href="/metadata-day-2013/{{ slide.name }}.html">View details &raquo;</a></p>
         </div>
        </div>
       {% endfor %}
      {# END Second Row #}
      </div>
      <hr>

  {% include "footer.html" %}
 </div>
{% endblock %}
