{% extends "layout.html" %} 

{% block main %}
{% include "navbar.html" %}


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2>September 10th, 2013 -- ADR Metadata Day</h2>
        <h1 class="main-title">BIBFRAME, Schema.org, &amp; LinkedData</h1>
        <p class="lead">
          Jeremy Nelson<br>
          Metadata &amp; Systems Librarian<br>
          Colorado College<br>
        </p>
        <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row main-subtitle">
       {% for slide in slides %}
        <div class="col-lg-4" >
          <h2>{{ slide.headline }}</h2>
          <p> 
           {{ slide.description }}
          </p>
          <p><a class="btn btn-default" href="/metadata-day-2013/{{ slide.name }}.html">View details &raquo;</a></p>
        </div>
       {% endfor %}
      </div>

      <hr>



  {% include "footer.html" %}
 </div>
{% endblock %}
