{% extends 'slide.html' %}

{% block slide_content %}
{# START Master Content Row DIV#}
<div class="row">
 {# START definition and aside Column #}
 <div class="col-sm-4 col-md-4 col-lg-3">
  <div class="panel panel-info">
    <div class="panel-heading">
     <h3 class="panel-title">Definition</h3>
    </div>
    <div class="panel-body">
     <em>Linked Data</em> "...is about making links, so that a person or machine
      can explore the web of data.  With linked data, when you have some of it, 
      you can find other, related, data." 
     <small>Sir Tim Berners-Lee's 
      <a href="/metadata-day-2013/resources.html#linked-data">Linked Data</a>
      July, 27 2006
     </small> 
    </div>
  </div>
 {# END definition and Aside Column #}
 </div>
 {# START Main Title and Content #}
 <div class="col-sm-8 col-md-8 col-lg-7">
  <div class="well">
   <h1 class="main-title">What is Linked Data?</h1>

  </div>
 {# END Main Title and Content #}
 </div>
{# END Master Content Row DIV#}
</div>

{% endblock %}
