{% extends 'slide.html' %}

{% block slide_content %}
{# START Title Row DIV#}
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 jumbotron"> 
   <h1 class="main-title">MARC21 to BIBFRAME</h1>
   <p class="lead">
    At <a href="http://bibframe.org/vocab">bibframe.org</a> vocabulary website,
    under the various tables of properties for each BIBFRAME entity, is a column 
    for current MARC21 mappings to the BIBFRAME entity's property.
   </p>
   <img src="/metadata-day-2013/assets/img/instance-property-tbl-snippet.png">
   <p class="pull-right" style="font-size: .8em"><small>Screen shot from 
      <a href="http://bibframe.org/vocab/Instance.html">http://bibframe.org/vocab/Instance.html</a>
      </small>
   </p>
  </div>
{# END Title Content Row DIV#}
</div>
{# START Two Column Row DIV#}
<div class="row">
 {# START MARC21 Column #}
 <div class="col-sm-6 col-md-6 col-lg-6">
  <div class="panel panel-danger">
   <div class="panel-heading">
     <h2 class="panel-title">MARC21</h2>
   </div>
   <div class="panel-body">

   </div>
  </div>
 {# END MARC21 Column #}
 </div>
 {# START BIBFRAME Column #}
 <div class="col-sm-6 col-md-6 col-lg-6">
  <div class="panel panel-primary">
   <div class="panel-heading">
     <h2 class="panel-title">BIBFRAME</h2>
   </div>
   <div class="panel-body">

   </div>
  </div>

 {# END BIBFRAME Column #}
 </div>
{# END Column Row DIV#}
</div>

{# START CC MARC-to-BIBFRAME #}
<div class="row">
 <div class="col-sm-10 col-md-10">
  <div class="well well-sm">
   <h2>Colorado College BIBFRAME Gap Analysis Project</h2>
   MARC, RDA
  </div>
 </div>
{# END CC MARC-to-BIBFRAME #}
</div>
{% endblock %}
