{% extends "layout.html" %} 

{% block main %}
{% include "navbar.html" %}
{# Start Title ROW #}

<div class="container">
 {# START breadcrumb row#}
 <div class="row">
  <div class="col-sm-12 col-md-12">
  {# START breadcrumb #}
   <div class="breadcrumb">
     <li><a href="/metadata-day-2013/">Home</a></li> 
     <li class="active">Resources</li>
   {# END breadcrumb #}
   </div>
  </div>
 {# END breadcrumb row #}
 </div>
 {# START title Row #}  
 <div class="row">
  <div class="col-sm-8 col-md-8">
   <div class="jumbotron">
    <h1 class="main-title">Resources</h1>
    <p class="lead">This page contains a listing of resources about the topics covered in 
     this presentation for Metadata Day 2013</p>
   </div>
   {# START Resources #}
   <div class="well">
    <ol>
     <li name="bibframe-vocab">
      <a href="http://bibframe.org/vocab/">
      BIBFRAME Model</a> contains a description of four core classes,
      Creative Work, Instance, Authority, and Annotation.
      </a>
     </li>
     <li name="bibframe-usecases">
      <a href="http://bibframe.org/documentation/bibframe-usecases/">
      BIBFRAME Use Cases and Requirements</a> (2013) 
     </li>
     <li name="json-for-linking-data">
      <a href="http://json-ld.org/">JSON for Linking Data</a>
    
     </li>
     <li name="linked-data">
       Sir Tim Berners-Lee (2006)  <a href="http://www.w3.org/DesignIssues/LinkedData.html">
       Linked Data</a>. W3C.
     </li>
     <li name="linked-data-evolving-the-web-into-a-global-data-space">
      Tom Heath and Christian Bizer (2011) <a href="http://linkeddatabook.com/book">Linked Data: Evolving the Web into 
      a Global Data Space</a> (1st edition). Synthesis Lectures on the Semantic Web: 
      Theory and Technology, 1:1, 1-136. Morgan &amp; Claypool.
     </li>
     <li name="tutorial-on-metadata-and-the-semantic-web">
      Karin Coyle (2012) <a href="http://kcoyle.net/metadata/">Tutorial on Metadata and the Semantic Web</a>
      
     </li> 
    </ol>
   {# END Resources #}
   </div>
  </div>
 {# END title Row #}  
 </div>
{# END Container #}
</div>

{% endblock %}
