{% extends 'slide.html' %}

{% block slide_content %}
{# START Title Row DIV#}
<div class="row">
 {# START Main Title and Content #}
 <div class="col-sm-8 col-md-8 col-lg-7">
  <div class="well well-sm">
   <h2 class="main-title">Schema.org and Libraries</h2>
  </div>
 {# END Main Title and Content #}
 </div>
 {# START More info and examples Column #}
 <div class="col-sm-4 col-md-4 col-lg-3">
  <div class="panel panel-info">
   <div class="panel-heading"> 
   </div>
   <div class="panel-body">

   </div>
  </div>
{# END Title Row DIV#}
</div> 
{% endblock %}
